body{
    padding: 0%;
    margin: 0%;
    background-color: white;
  color: black;
}
.dark-mode {
    background-color: black;
    color: white;
  }
  .container{
    border: 1px solid white;
    background-color: rgb(43, 43, 240);
    color: white;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  #quote{
    padding-top: 10px;
  }